@media (max-width: 1250px) {
    .tittle_section_list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}

@media (max-width: 800px) {
    .tittle_section_list {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 14px;
    }
}

@media (max-width: 636px) {
    .tittle_section_list {
        justify-content: space-between;
        align-items: start;
        column-gap: 14px;
    }

    .tittle_section_item:nth-child(4) {
        padding-right: 64px;

    }
}

@media (max-width: 550px) {
    .tittle_section_list {
        display: none;
        /* flex-direction: column;
        margin-left: 30px; */
    }
    .tittle_section_text {
        border: 0;
    }
}

@media (max-width: 430px) {
    .tittle_section_list {
        flex-direction: column;
    }

}